.list-tiles {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1px;
}

.list-group-item{
  width: 100%;
}

img{
  height: 120px;
  width: 120px;
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .list-tiles {
    flex-direction: column;
    max-width: 300px;
    height: auto;
    margin-top: 10px;
  }

  ul{
    list-style:none;
  }

  .list-group{
    width: 80vw;
  }
  .list{
    height: 1550px;
  }
  
  img{

    height: 90px;
    width:90px;

  }

  ul li{
    float:left;
    padding:5px;
    width:25%;
    border-bottom:0px solid #000;
    border-right:0px solid #000;
  }

  ul li:nth-child(n+1){
    clear:both;
    border-left:0px solid #000;
  }
  
}
