
.list-tiles{
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 1px;
    
}

@media screen and (max-width: 500px) {
  .list-tiles {
    flex-direction: column;
    max-width: 300px;
    height: auto;
    margin-top: 10px;
  } 
}