.wel{
background-color:#fe5e50;
color: white;
font-weight: 100px;
padding-top: 20px;
padding-bottom: 50px;
}

.list{
  height: 400px;
}

ul{
  list-style:none;
}

.dir{
  flex-direction: column;
}

ul li{

  float:left;
  padding:10px;
  width:25%;
    
}

@media screen and (max-width: 800px) {
  .list{
    height:1550px;
  }
}